{% assign trainings = site.data.data.trainings %}
{% if trainings %}
<section class="section trainings-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    Trainings
  </h2>

  {% for training in trainings %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ training.subject }}</h3>
      </div><!--//upper-row-->

      <div class="company">{{ training.time }}</div>

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
